version: "3.9"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - bot-net

  app:
    build: .
    command: npm run dev
    volumes:
      - .:/app
      - /app/node_modules
    env_file: .env
    environment:
      NODE_ENV: development
    ports:
      - "3000:3000"
    depends_on:
      - redis
    networks:
      - bot-net

  worker:
    build: .
    command: node dist/worker.js
    env_file: .env
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - redis
      - app
    networks:
      - bot-net

  ngrok:
    image: ngrok/ngrok:latest
    command: http app:3000
    environment:
      NGROK_AUTHTOKEN: 2pnzAKlpLWWIpAd3HVFgOxEJDdq_ckN9PiZdC3ygrm7h8DVc
    ports:
      - "4040:4040"
    depends_on:
      - app
    networks:
      - bot-net

  dashboard:
    build: .
    command: node dist/dashboard.js
    env_file:
      - .env
    ports:
      - "3005:3005"
    depends_on:
      - redis
    networks:
      - bot-net

networks:
  bot-net:
